<div ng-controller="RegisterCreateNameCtrl">

  <div class="animated fadeInLeftBig">
    <h4 class="action-subheader-text">Type your name below to save signature:</h4>
  </div>


  <div class="animated bounceInRight">
    <br>
    <div class="container">
      <form class="form-start">
        <input type="text" class="form-control" ng-model="saveName" ng-class="inputNameClass" placeholder="Type name to save signature">
        <br>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <button class="btn btn-default btn-block btn-lg" link-click="/register/create-signature" ><i class="fa fa-arrow-circle-o-left fa-lg"></i> Back</button>
          </div>
          <div class="col-md-6 col-sm-6">
            <button class="btn btn-primary btn-block btn-lg" ng-click="onSaveName()"><i class="fa fa-save fa-lg"></i> Save Signature</button>
          </div>
        </div>
      </form>
    </div> <!-- /container -->

  </div>

</div>