<div ng-controller="RegisterCreateNameCtrl">

  <div class="animated fadeInLeftBig">
    <h4 class="action-subheader-text">Type your name below to save signature:</h4>
  </div>


  <div class="animated bounceInRight">
    <br>
    <div class="container">
      <form class="form-start">
        <input type="text" class="form-control" placeholder="Type name to save signature">
        <br>
        <div class="div-inline">
          <button class="btn btn-default btn-block btn-lg" link-click="/register/create-signature" ><i class="fa fa-arrow-circle-o-left fa-lg"></i> Back</button>
          <button class="btn btn-primary btn-block btn-lg" link-click="/start" ><i class="fa fa-save fa-lg"></i> Save Signature</button>
        </div>
      </form>
    </div> <!-- /container -->

  </div>

</div>