<div ng-controller="RegisterCreateSignatureCtrl">

  <div class="animated fadeInLeftBig">
    <h4 class="action-subheader-text">Sign your name below:</h4>
  </div>


  <div class="animated bounceInRight">
    <br>
    <div class="container">
      <form class="form-start">
        <canvas id="canvas-signature"></canvas>
        <div class="inline">
          <button class="btn btn-warning btn-block btn-lg" link-click="/register/create-signature" ><i class="fa fa-refresh fa-lg"></i> Clear</button>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <button class="btn btn-default btn-block btn-lg" link-click="/start" ><i class="fa fa-arrow-circle-o-left fa-lg"></i> Back</button>
          </div>
          <div class="col-md-6 col-sm-6">
            <button class="btn btn-primary btn-block btn-lg" link-click="/register/create-name" ><i class="fa fa-save fa-lg"></i> Save Signature</button>
          </div>
        </div>
      </form>
    </div> <!-- /container -->

  </div>

</div>