body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E1F8FF;
  color: #3A869C;
}

.google-map {
    width: 80%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.logo-header-text {
    color: #45a6a3;
    font-weight: bold;
}

.action-subheader-text {
    color: #000000;
}

.footer-text {
    color: #45a6a3;
}

hr {
    border: 0;
    color: #f00;
    background-color: #a9babf;
    height: 2px;
}

.form-address {
  width: 80%;
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
}

.form-address .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-address .form-control:focus {
  z-index: 2;
}
.form-address input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
