body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E1F8FF;
  color: #3A869C;
}

.google-map {
    width: 80%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.logo-header-text {
    color: #45a6a3;
    font-weight: bold;
}

.action-subheader-text {
    color: #000000;
}

.ship-best-price {
    color: #49a665;
    text-align: center;
    font-size: 40px;
}

.ship-best-service {
    text-align: center;
}

.footer-text {
    color: #45a6a3;
}

hr {
  border: 0;
  color: #f00;
  background-color: #a9babf;
  height: 2px;
}

.inline {

}

.div-center {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 550px;
  text-align: center;
}

.form-start {
  width: 80%;
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
}

#canvas-signature {
  height: 200px;
  width: 100%;
  border: 1px solid #3A869C;
}