<div ng-controller="ExistingSignInCtrl">

  <div class="animated fadeInLeftBig">
    <h4 class="action-subheader-text">Sign your name below to authenticate:</h4>
  </div>


  <div class="animated bounceInRight">
    <br>
    <div class="container">
      <form class="form-start">
        <canvas id="canvas-signature"></canvas>
        <br>
        <br>
        <div class="div-inline">
          <button class="btn btn-default btn-block btn-lg" link-click="/start" ><i class="fa fa-arrow-circle-o-left fa-lg"></i> Back</button>
          <button class="btn btn-primary btn-block btn-lg" link-click="/welcome" ><i class="fa fa-save fa-lg"></i> Sign In</button>
        </div>
      </form>
    </div> <!-- /container -->

  </div>

</div>