<div ng-controller="ShipLabelCtrl">

    <div class="animated fadeInLeftBig">
        <h4 class="action-subheader-text">Awesome! You're the proud new owner of this label:</h4>
    </div>

    <div class="animated bounceInRight">

        <div class="container">
            <form class="form-address">
                <h4 class="action-subheader-text">Your label:</h4>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="ship-best-price"><a href="{{labelUrl}}">Click to view label</a></h4>
                    </div>
                    <div class="panel-footer ship-best-service">Tracking Code: {{labelTrackingCode}}</div>
                </div>

                <br>
                <br>

                <h4 class="action-subheader-text">Cost you:</h4>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="ship-best-price">{{valueBestPrice}}</h4>
                    </div>
                    <div class="panel-footer ship-best-service">{{valueBestService}}</div>
                </div>

                <br>

                <!-- Page buttons -->
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <button class="btn btn-lg btn-block btn-info" type="submit" link-click="/ship/dimensions">Ship More</button>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <button class="btn btn-lg btn-primary btn-block btn-warning" type="submit" link-click-print-label="/ship/label">Print Label</button>
                    </div>
                </div>

            </form>
        </div> <!-- /container -->

    </div>

</div>

