<div ng-controller="StartCtrl">

  <div class="animated fadeInLeftBig">
    <h4 class="action-subheader-text">Choose your option:</h4>
  </div>


  <div class="animated bounceInRight">
    <br>
    <div class="container">
      <form class="form-start">
        <button class="btn btn-primary btn-block btn-lg" link-click="/existing/sign-in" ><i class="fa fa-rocket fa-lg"></i> Sign In</button>
        <br>
        <div class="div-center">or</div>
        <br>
        <button class="btn btn-success btn-block btn-lg" link-click="/register/create-signature" ><i class="fa fa-users fa-lg"></i> Create New</button>
      </form>
    </div> <!-- /container -->

  </div>

</div>